.course{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
    @include mobile{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__container{
        display: flex;
        height: 150px;
        background: green;
        border-radius: 1rem;
        background: linear-gradient(180deg, #0E4B18 0%, #222949 100%);
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        p{
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 800;
            color: white;
        }

        img{
            height: 9rem;
            object-fit: cover;
        }
    }
}