.course{
    background-color: red;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    &__container{
        display: flex;
        width: 340px;
        height: 150px;
        background: green;
        border-radius: .5rem;
        background: linear-gradient(180deg, #0E4B18 0%, #222949 100%);
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        p{
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 800;
            color: white;
        }

        img{
            height: 9rem;
            object-fit: cover;
        }
    }
}