.main {
  // @include tablet{
  //   background-color: green;
  //   min-width: 1250px;
  // }
  background-color: white;
  .welcome {
    width: 100%;
    min-width: 320px;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("/src/assets/img/home.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    position: relative;
    &__container {
      position: absolute;
      top: 10rem;
      left: 2rem;
      width: 28rem;
      // background-color: red;
      color: white;
      text-align: start;
      max-width: calc(1200px + 40px);
      padding: 0 20px;
      margin: 0 auto;
      .welcome__title {
      }
      .welcome__subtitle {
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 1rem;
      }
      .welcome__text {
        font-size: 0.8rem;
        margin-top: 2rem;
      }

      .welcome__courses {
        border: 1px solid $button-color-2;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 15rem;
        text-align: center;
        color: $button-color-2;
      }
    }
  }

  .container{
    // width: 100%;
    // display: grid;
    // place-items: center;
    max-width: calc(1200px + 40px);
    padding: 0 20px;
    margin: 0 auto;
    .choise {
      // background: linear-gradient(
      //   180deg,
      //   rgba(185, 192, 223, 0.5) 0%,
      //   rgba(139, 145, 218, 0.5) 100%
      // );
      // padding: 3rem 2.5rem;
      // width: 1250px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      z-index: 1;
      
      // &:hover{
      //   background: yellow;
      // }
  
      h2 {
        font-weight: 900;
        width: 100%;
        margin-bottom: 2.5rem;
        font-size: 2rem;
      }
      &__data{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__item {
        width: 20%;
        gap: 1rem;
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 5px 0;
        text-align: center;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
       
        span {
          font-weight: 800;
          font-size: 1rem;
        }
      }
      &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(185, 192, 223, 0.5) 0%, rgba(139, 145, 218, 0.5) 100%);
        width: 100vw;
        vertical-align: middle;
      }
    }
  }
  

  .banner{
    width: 100%;
    min-width: 320px;
    height: 561px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/src/assets/img/data.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    transform: scaleX(-1);
    position: relative;
    &__container{
        position: absolute;
        transform: scaleX(-1);
        top: 5rem;
        left: 5rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: 27rem;
    }
    &__item{
        border-radius: 1.5rem;
        text-align: start;
        background: linear-gradient(180deg, #4F58C6 0%, #222949 100%);
        padding: 32px 36px;
        color: white;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            span{
                font-weight: 800;
                font-size: 1.2rem;
            }
        }
    }
  }
}
