.header{
    width: 100%;
    height: 4rem;
    background-color: $navbar-color;
   
    .navbar{
        margin: 0 auto;
        width: 100%;
        max-width: calc(1200px + 40px);
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        &__logo{
            h1{
                color: $button-color
            }
            &:hover{
                cursor: pointer;
            }
            @include tablet{
                order: 2;
            }
        }
        &__icon{
            display: none;
            @include tablet{
                display: block;
            }
        }
        &__menu{
            @include tablet{
                display: none;
            }
            .navbar__list{
                display: flex;
                align-items: center; 
                gap: 5rem;
                .navbar__item{
                    color: $text-color;
                    &--room{
                        border: 1px solid $button-color;
                        padding: .5rem;
                        border-radius: .5rem;
                        color: $button-color;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        @include tablet{
            justify-content: flex-start;
            gap: 2rem;
            .menu{
                z-index: 21;
                background: white;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                right: auto;
                box-shadow: 0 2px 27px 0 rgba(0,0,0,.5);
                width: 300px;
                &__title{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid;
                    padding: 1rem;
                    h1{
                        color: $button-color;
                    }
                }

                &__list{

                }
                &__item{
                    border-bottom: 1px solid;
                    padding: .5rem 1rem;
                }

            }
        }
    }

    @include tablet{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        position: sticky;
        top: 0;
        border-bottom: 1px solid #1f0a4d;
        z-index: 11;
    }
}