.courses{
    padding: 40px 0;
    h2{
        font-weight: 900;
        width: 100%;
        margin-bottom: 2.5rem;
        font-size: 2rem;
        @include mobile{
            text-align: center;
        }
    }
}